@page
@model cafe.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row row-eq-height">

    @foreach (var item in Model.Product)
    {
        <div class="col-2 h-50">
            <div class="bg-light">
                <p>
                    <span class="h5">
                        @Html.DisplayNameFor(model => model.Product[0].ProductName)
                    </span>
                    <br />
                    @Html.DisplayFor(modelItem => item.ProductName)
                </p>
                

                <p>
                    <span class="mt-4 h5">
                        @Html.DisplayNameFor(model => model.Product[0].Discription)
                    </span>
                    <br />
                        @Html.DisplayFor(modelItem => item.Discription)
                </p>
                
                <span>
                    @Html.DisplayNameFor(model => model.Product[0].Genre)
                </span>
                <br />
                    @Html.DisplayFor(modelItem => item.Genre)
                <br/>
                <span>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                </span>
                <span>
                    <a asp-page="./Details" asp-route-id="@item.ID">詳細</a>|
                </span>
                <span>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </span>
            </div>

        </div>
    }

</div>

